{% extends 'sitevisitor/site_base.html'%}
{% block title %}
MyShop | Home
{% endblock %}
{% block content %}
<div class="row m-3">
    {% for product in products %}
    <div class="col col-3">
        <div class="card" style="width: 18rem;">
            <img src="{{ product.product_photo.url }}" class="card-img-top" alt="{{product.name}}" height="250" width="100">
            <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Rs.{{product.price}}/-</li>
            <li class="list-group-item">Currently available: {{product.stock}} nos</li>
            <li class="list-group-item">{{product.category}}</li>
            </ul>
            <div class="card-body text-center p-3">
            <a href="#" class="btn btn-primary">Add to Cart</a>
            
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}