{% extends 'adminpanel/admin_base.html'%}
{% block title %}
MyShop | Product
{% endblock %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table-responsive p-5 m-3" height="500px" width="50%">
        <tr>
            <th><label class="form-label">Product Name</label></th><td><input type="text" name="product_name" class="form-control" required/></td>
        </tr>
        <tr>
            <th><label class="form-label">Description</label></th><td><textarea rows="4" cols="4" name="product_description" required class="form-control"></textarea></td>
        </tr>
        <tr>
            <th><label class="form-label">Product Image</label></th><td><input type="file" name="product_image" class="form-control" required/></td>
        </tr>
        <tr>
            <th><label class="form-label">Product Price</label></th><td><input type="number" name="product_price" class="form-control" required/></td>
        </tr>
        <tr>
            <td><label class="form-label">Stock</label></td><td><input type="number" name="product_stock" class="form-control" required/></td>
        </tr>
        <tr>
            <th><label class="form-label">Category</label></th>
            <td>
                <select name="product_category" class="form-control">
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr style="text-align: center;"><td colspan="2"><button type="submit" class = "btn btn-primary">Save</button></td></tr>
    </table>
</form>
{% endblock %}